doctype html
html
	head
		title Registración
	body
		form(action="/users" method="POST")
			input(type="email" name="email" placeholder="correo")
			input(type="password" name="password" placeholder="clave")
			input(type="submit" value="crear cuenta")